<!DOCTYPE html>
<html>

<head>
    <title>ජේසොන් අයියා</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <style>
        html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    background-color:#DDD;
}
    </style>

    <script src="lib/src/three.min.js"></script>
    <script src="lib/main.js"></script>
    <script src="lib/src/MTLLoader.js"></script>
    <script src="lib/src/OBJLoader.js"></script>
</head>

<body>
    <div id="divID"></div>
</body>

</html>